.destination {
  background-image: url("../../../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 25vh 0 4vh;

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__info {
    margin-top: 2rem;
  }

  &__text {
    width: 40%;
  }

  &__image {
    width: 40%;
  }

  &__planetTitle {
    text-transform: uppercase;
    font-size: 5rem;
    margin: 2rem 0;
  }

  &__line {
    margin-top: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.157);
  }

  &__stats {
    display: flex;
    margin-top: 2rem;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    text-transform: uppercase;

    &--big {
      font-size: 1.6rem;
    }
  }
}
