.home {
  background-image: url("../../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__text {
    padding-top: 50vh;
    max-width: 550px;
  }

  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #88bff0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 7rem;
  }

  &__info {
    margin-top: 4rem;
    font-size: 1.4rem;
    color: #88bff0;
  }

  &__cta {
    position: absolute;
    top: 58vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .home {
    background-image: url("../../../assets/home/background-home-tablet.jpg");

    &__text {
      padding-top: 25vh;
      text-align: center;
      margin: 0 auto;
    }

    &__cta {
      top: 65vh;
      right: calc(50% - 125px);
    }
  }
}

@media (max-width: 768px) {
  .home {
    background-image: url("../../../assets/home/background-home-mobile.jpg");

    &__subtitle {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }

    &__title {
      text-transform: uppercase;
      font-size: 5rem;
    }

    &__info {
      font-size: 1.1rem;
      margin-top: 3rem;
    }
  }
}

// @media (max-width: 425px) {
//   .home {

//   }
// }
