/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #fefefe;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text {
  &--red {
    color: #702828;
  }
}

// hide scrollbar
::-webkit-scrollbar {
  display: none;
}

// Custom styles for material library
.mat-tab-labels .mat-tab-label-active {
  opacity: 1;
}

.destination {
  .mat-tab-label-content {
    color: #fff;
  }

  .mat-tab-labels {
    justify-content: end;
  }

  .mat-tab-label {
    min-width: 120px;
  }

  .mat-tab-label-active {
    background-color: transparent;
  }

  .mat-primary .mat-ink-bar {
    background-color: #fefefe;
    width: fit-content;
  }
}

.crew {
  .mat-tab-label-content {
    color: #fff;
  }

  .mat-tab-group {
    height: 80vh;
    overflow-y: hidden;
  }

  .mat-tab-header {
    position: absolute;
    z-index: 2;
    width: 40%;
    bottom: 8rem;
  }

  .mat-tab-label {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 1rem;
  }

  .mat-primary .mat-ink-bar {
    background-color: #fff;
    width: fit-content;
  }

  .mat-primary .mat-ink-bar {
    background-color: transparent;
  }
}

.technology {
  .mat-tab-group {
    flex-direction: row;
  }

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-tab-labels .mat-tab-label-active {
    background-color: #fff;
    color: #222;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    align-items: center;
  }

  .mat-tab-label {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin: 0.5rem 0;
  }

  .mat-tab-body-wrapper {
    margin-left: 1rem;
  }
}
