/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #fefefe;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text {
  &--red {
    color: #702828;
  }
}
